/*
* @Author: ChenHongwei
* @Date:   2017-05-16 18:03:01
* @Last Modified by:   ChenHongwei
* @Last Modified time: 2017-05-23 21:50:48
*/
/* css reset */
*{
    margin: 0;
    padding: 0;
}
body{
    background: #FFFFFF;
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}